.container-fluid
  .row
    .col-md-3.col-sm-2.col-12
    .col-md-6.co1-sm-8.col-12.text-center.h-100
      %h1.mt-5 名言アプリ
      .small あなたの共感した名言呟きませんか？
      .mt-5
        = link_to "twitterでログインする" ,user_twitter_omniauth_authorize_path
      .small.mt-5 使い方
      .card.p-3
        .small.my-1 1.ツイッターログインをしてください。
        .small.my-1 2.あなたの好きな本から共感した文を記入してください。
        .small.my-1 3.引用した本を選んでください。
        .small.my-1 4.生成ボタンを押すだけで、あなたが共感して名言カードが出来上がり。<br>あとはツイッターから呟きましょう。
