.container-fluid
  .row
    .col-md-3.col-sm-2.col-12
    .col-md-6.co1-sm-8.col-12.text-center.h-100
      %h1.mt-5 名言アプリ
      .small あなたの共感した名言呟きませんか？
      .mt-5
        = link_to "twitterでログインする" ,user_twitter_omniauth_authorize_path
      .small.mt-5 使い方
      .card.p-3
        .small.my-1 1.ツイッターログインをしてください。
        .small.my-1 2.あなたの好きな本から共感した文を記入してください。
        .small.my-1 3.引用した本を選んでください。
        .small.my-1 4.生成ボタンを押すだけで、あなたが共感して名言カードが出来上がり。<br>あとはツイッターから呟きましょう。
      %p.mt-2 このアプリはポートフォリとして作成したサイトです。本の文を引用し、<br>ツイッターカードを作成し、ツイートすることを目的として作成しておりましたが、<br>著作権違反となる可能性があるので、断念しました.....<br>利用者の責任の範囲でご使用ください。
      %p.mt-2 本検索は実装中.....
