/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "variables";

.main-color {
  color: $main-color;
}
.main-bk-color {
  background-color: $main-bk-color;
}

 @font-face{
   font-family: "hoge";
   src: font-url('Harenosora.otf') format('truetype');
 }

body{
  font-family: 'hoge';
}

ul.results_list {
  li {
    border-bottom: dotted;
    cursor: pointer;
    .book_title{
      font-style: oblique;
      font-size: 1.2rem;
    }
  }
}

.results_list .mask{
  background-color: rgba(0, 0 ,0,0);
  transition: all 0.3s ease-in-out;
}

.results_list {
  li:hover .mask{
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

#input_title {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#input_author {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#input_publisher {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#input_publishedDate {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
